.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    .grid-item {
        height: 200px;
    }
 }

 .btn {
    display: block;
    padding: 12px;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
 }